<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AiPark.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
				<key>dateExpires</key>
				<string>2020/1/15</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HPGrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MD5Digest.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenUDID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PICircularProgressView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RegexKitLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SlimeRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICKeyChainStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XAbstractionLibrary_Base.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XAbstractionLibrary_Network.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XAbstractionLibrary_Parse.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XAbstractionLibrary_UICommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F3DA7A632A1DE3B47620E1ABA333B39DDE6F4415</string>
						<key>dateExpires</key>
						<string>2020/1/15</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XXNibBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>686TP5D9Q7</string>
						<key>name</key>
						<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>686TP5D9Q7.com.meicheba.SmartParking-ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:app.test.toc.aipark.com</string>
					<string>applinks:app.ysc-toc.aipark.com</string>
					<string>applinks:app.aipark.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>686TP5D9Q7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AiPark.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b932de25-3dee-4123-b525-bd7cafd63357</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.meicheba.SmartParking-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>686TP5D9Q7</string>
				<key>name</key>
				<string>Intelligent Interconnection Technologies Co. , Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
